---
import { Image } from "astro:assets";
import placeholder from "@assets/images/blog/placeholder-4.jpg";
import { Button, buttonVariants } from "../ui/button";
import { siteConfig } from "@/config/site";
import { Badge } from "../ui/badge";
import { ArrowUpRight } from "lucide-react";
import heroImage1 from "@assets/images/landing/hero-1.jpg";
import heroImage2 from "@assets/images/landing/hero-2.jpg";
const { mainCTA, secondaryCTA } = siteConfig;
---

<div class="flex min-h-screen items-center justify-center overflow-hidden">
  <div
    class="mx-auto grid w-full max-w-screen-xl gap-12 px-6 py-12 lg:grid-cols-2 lg:py-0"
  >
    <div class="my-auto">
      <Badge className="rounded-full border-none py-1">
        Your Brightest Smile Starts Here
      </Badge>
      <h1
        class="mt-6 max-w-[17ch] text-4xl !leading-[1.2] font-bold tracking-tight md:text-5xl lg:text-[2.75rem] xl:text-5xl"
      >
        Exceptional Dental Care for a Healthier, Happier You
      </h1>
      <p class="mt-6 max-w-[60ch] text-lg">
        At smiles.co, we're dedicated to providing top-tier dental services in a
        comfortable and caring environment. From routine check-ups to advanced
        cosmetic procedures, your oral health is our priority.
      </p>
      <div class="mt-8 flex justify-start gap-4">
        {
          secondaryCTA && (
            <a
              class={buttonVariants({ size: "lg", variant: "outline" })}
              href={secondaryCTA.href}
            >
              {secondaryCTA.title || "Get a quote"}
            </a>
          )
        }
        <a class={buttonVariants({ size: "lg" })} href={mainCTA.href}>
          {mainCTA.title || "Get in Touch"}
        </a>
      </div>
    </div>
    <div>
      <Image
        src={heroImage2}
        alt={"Smiling person in a modern dental clinic"}
        class="aspect-video w-full rounded-xl object-cover lg:aspect-auto lg:h-[calc(100vh-16rem)] lg:w-[1000px]"
      />
    </div>
  </div>
</div>
